/* Main styles for template "Mobile App Kit" */
body {
  font-family: "Open Sans";
  color: #ffffff;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: #f65152;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f65152 0%, #fb7778 100%) fixed;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f65152), color-stop(100%, #fb7778)) fixed;
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f65152 0%, #fb7778 100%) fixed;
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f65152 0%, #fb7778 100%) fixed;
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f65152 0%, #fb7778 100%) fixed;
  /* IE10+ */
  background: linear-gradient(to bottom, #f65152 0%, #fb7778 100%) fixed;
  /* W3C */
}
p {
  color: #ffffff;
}
/* Cover backgrounds */
.text-primary {
  color: #ffcb4d;
}
.cover {
  overflow: hidden;
}
.cover .container {
  padding-top: 100px;
  padding-bottom: 100px;
}
.bg-cover {
  width: 100%;
  height: 850px;
  position: absolute;
  background: transparent url('../../images/backgrounds/cover/01.png') no-repeat top center;
  opacity: 0.5;
}
.bg-cover-pattern {
  background: url('../../images/backgrounds/patterns/food_01.jpg');
}
.bg-cover-photo {
  background: url('../../images/backgrounds/photos/bg_07.jpg') center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-flare-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 850px;
  overflow: hidden;
}
.bg-flare-wrapper .bg-flare-left,
.bg-flare-wrapper .bg-flare-right {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -570px;
  width: 1140px;
  height: 850px;
}
.bg-flare-wrapper .bg-flare-left {
  background: url("../../images/backgrounds/cover/flare_left.png") no-repeat top center;
}
.bg-flare-wrapper .bg-flare-right {
  background: url("../../images/backgrounds/cover/flare_right.png") no-repeat top center;
}
#big-video-wrap {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
/* Button */
.btn-enter {
  margin-top: 10px;
  margin-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.2);
}
.btn-enter:hover,
.btn-enter:focus,
.btn-enter:active,
.btn-enter.active,
.open .dropdown-toggle.btn-theme {
  color: #fff;
  background-color: #ffbc1a;
  border-color: #ffbc1a;
}
.btn-enter:active,
.btn-enter.active,
.open .dropdown-toggle.btn-theme {
  background-image: none;
}
.btn-theme .badge {
  color: #ffcb4d;
  background-color: #fff;
}
.btn-link:hover,
.btn-link:focus {
  color: #ffcb4d;
}
.btn-link:hover.btn-enter,
.btn-link:focus.btn-enter {
  background: none;
}
/* Cover-interactive */
.cover-interactive-wrapper {
  position: relative;
  margin: auto auto;
  margin-bottom: 100px;
  width: 700px;
  height: 650px;
}
.cover-interactive-wrapper .cover-ia-center {
  position: absolute;
  width: 350px;
  height: 650px;
  top: 0;
  left: 50%;
  margin-left: -175px;
  pointer-events: none;
}
.cover-interactive-wrapper .cover-ia-center .move-item {
  position: absolute;
  width: 350px;
  left: 0;
  top: 0;
}
.cover-interactive-wrapper .cover-ia-left,
.cover-interactive-wrapper .cover-ia-left-static {
  position: absolute;
  width: 350px;
  height: 650px;
  top: 0;
  left: 0;
}
.cover-interactive-wrapper .cover-ia-left .move-item,
.cover-interactive-wrapper .cover-ia-left-static .move-item {
  opacity: 0;
  position: absolute;
  display: table;
  display: none;
  width: 300px;
  height: 650px;
  top: 0;
  left: 50%;
}
.cover-interactive-wrapper .cover-ia-left .move-item .v-center,
.cover-interactive-wrapper .cover-ia-left-static .move-item .v-center {
  display: table-cell;
  vertical-align: middle;
}
.cover-interactive-wrapper .cover-ia-left .static-item,
.cover-interactive-wrapper .cover-ia-left-static .static-item {
  position: absolute;
  display: table;
  width: 300px;
  height: 650px;
  top: 0;
  left: 0;
  text-align: left;
}
.cover-interactive-wrapper .cover-ia-left .static-item .v-center,
.cover-interactive-wrapper .cover-ia-left-static .static-item .v-center {
  display: table-cell;
  vertical-align: middle;
}
.cover-interactive-wrapper .cover-ia-left .static-item .cover-slogan,
.cover-interactive-wrapper .cover-ia-left-static .static-item .cover-slogan,
.cover-interactive-wrapper .cover-ia-left .static-item .cover-rating,
.cover-interactive-wrapper .cover-ia-left-static .static-item .cover-rating {
  text-align: right;
}
.cover-interactive-wrapper .cover-ia-right,
.cover-interactive-wrapper .cover-ia-right-static {
  position: absolute;
  width: 350px;
  height: 650px;
  top: 0;
  right: 0;
}
.cover-interactive-wrapper .cover-ia-right .move-item,
.cover-interactive-wrapper .cover-ia-right-static .move-item {
  opacity: 0;
  position: absolute;
  display: table;
  display: none;
  width: 300px;
  height: 650px;
  top: 0;
  right: 50%;
}
.cover-interactive-wrapper .cover-ia-right .move-item .v-center,
.cover-interactive-wrapper .cover-ia-right-static .move-item .v-center {
  display: table-cell;
  vertical-align: middle;
}
.cover-interactive-wrapper .cover-ia-right .static-item,
.cover-interactive-wrapper .cover-ia-right-static .static-item {
  position: absolute;
  display: table;
  width: 300px;
  height: 650px;
  top: 0;
  right: 0;
  text-align: right;
}
.cover-interactive-wrapper .cover-ia-right .static-item .v-center,
.cover-interactive-wrapper .cover-ia-right-static .static-item .v-center {
  display: table-cell;
  vertical-align: middle;
}
.cover-interactive-wrapper .cover-ia-right .static-item .cover-slogan,
.cover-interactive-wrapper .cover-ia-right-static .static-item .cover-slogan,
.cover-interactive-wrapper .cover-ia-right .static-item .cover-rating,
.cover-interactive-wrapper .cover-ia-right-static .static-item .cover-rating {
  text-align: left;
}
/* Cover-interactive elements */
.reviewer-cover {
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.reviewer-cover img {
  margin: 0 auto;
}
.reviewer-cover img.img-circle {
  margin-bottom: 20px;
  border: 5px solid rgba(255, 255, 255, 0.8);
}
.cover-slogan {
  display: inline-block;
  width: 150px;
  font-family: 'Oswald';
}
.cover-slogan .str-01 {
  font-size: 53px;
  line-height: 53px;
}
.cover-slogan .str-02 {
  font-size: 20px;
  font-weight: 400;
  opacity: 0.5;
}
.cover-slogan .str-03 {
  /* any styles */
}
.cover-rating {
  display: inline-block;
  width: 150px;
  line-height: 200px;
}
.cover-rating .review-rating {
  font-size: 24px;
  color: #e24445;
}
.cover-rating .review-rating i > .half-star,
.cover-rating .review-rating .full-star {
  color: #fece0f;
}
.main-description.with-bg {
  background-color: rgba(164, 26, 27, 0.2);
}
/* High Resolution support
-------------------------------------------------------------------*/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* BG */
  .bg-cover {
    background: url('../../images/backgrounds/cover/01@2x.png') no-repeat top center;
    background-size: 1140px 850px;
  }
  .bg-flare-left {
    background: url("../../images/backgrounds/cover/flare_left@2x.png") no-repeat top center;
    background-size: 1140px 850px;
  }
  .bg-flare-right {
    background: url("../../images/backgrounds/cover/flare_right@2x.png") no-repeat top center;
    background-size: 1140px 850px;
  }
}
