/* Main styles for template "Mobile App Kit" */
@import "../cover";

// COLORS
// Color for all text
@color-default: #fff;

// Color for <p> text
@color-default-p: #eee;
// Additional background for class main-description
@with-bg: rgba(0, 0, 0, 0.2);

// Main theme color (Used for links, buttons and other effects)
@color-main: #fe4543;

// Enter button color
@btn-enter: rgba(0, 0, 0, 0.2);

// Star color
@star-color: #fff;
@star-color-bg: #333;


// BACKGROUNDS
// Path to images
@path-images: '../../images';

// Cover photo background
@bg-cover-photo: '@{path-images}/backgrounds/photos/bg_07.jpg';

// Cover pattern background
@bg-cover-pattern: '@{path-images}/backgrounds/patterns/taxi_01.jpg';

// Background settings for device
@bg-cover-element: '@{path-images}/backgrounds/cover/03.png';
@bg-cover-element2x: '@{path-images}/backgrounds/cover/03@2x.png';
@bg-cover-opacity: 0.3;

// Gradient colors
@bg-cover-gradient-top: #000;
@bg-cover-gradient-bot: #0d0d0d;