/* Documentation */
.container {
  padding: 0;
  margin: 0;
  min-width: 720px;
}
.doc-nav {
  position: fixed;
  width: 300px;
  height: 100%;
  padding: 40px 20px;
  background-color: #f0f0f0;
}
.doc-nav h4 {
  margin-top: 0;
}
.doc-nav h5 {
  margin: 0 0 20px 0;
}
.documentation {
  margin-top: -60px;
  padding-left: 340px;
  padding-bottom: 200px;
}
.documentation h3 {
  padding-top: 33px;
  margin-top: 60px;
}
.documentation h4 {
  font-size: 20px;
  margin-top: 0;
  padding-top: 30px;
}
.documentation h5 {
  font-weight: 700;
}
.documentation h6 {
  margin-bottom: 0;
  font-style: italic;
}
.documentation table {
  margin-top: 20px;
  background-color: #f0f0f0;
}
.documentation table td {
  min-width: 100px;
  max-width: 200px;
  padding: 10px;
}
.doc-sidebar {
  max-width: 250px;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.doc-sidebar .nav li:hover > a {
  color: #00c800;
}
ul.doc-sidebar a {
  padding: 4px 0;
}
ul.doc-sidebar a:hover {
  color: #00c800;
}
.doc-sidebar li > ul {
  padding: 10px 20px;
  display: none;
}
.doc-sidebar li.active > a {
  color: #00c800;
}
.doc-sidebar li.active ul {
  display: block;
}
.doc-sidebar > li.active > a {
  color: #00c800;
}
.doc-sidebar ul li {
  font-size: 14px;
  padding: 5px;
}
span.note {
  font-size: 12px;
  margin: 10px 0;
  display: block;
  padding: 10px;
  border-left: 4px solid #00c800;
}
span.note strong {
  color: #00c800;
}
